body{
    background-color: whitesmoke;
}

.btn{
    box-sizing: border-box;
padding: 9px 25px;
background-color:rgb(170, 4, 41);
color: #fff;


}

footer {
    text-align: center;
    background-color: rgb(170, 41, 41);
    color: #fff;
    padding: 0.5x;
    
    bottom: 0;
    width: 100%;
   
  }
  

.fa{
padding:3px;
font-size: 30px;
width:50px;
text-align: center;
text-decoration: none;
margin:5p 20px;
}

.fa.hover{
    opacity: 0.7;
}

.fa-facebook{
    background:#3B5998; ;
    color: white;
}
.fa-twitter{
    background:#55ACEE;
    color: white;
}
.fa-youtube{
    background:#bb0000;
    color: white;
}

.btn btn-primary{
    background:#bb0000;
    color: white;
}