<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container"></div>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        
        {% for item in menu_items %}
        <div class="{{ item.active_class }}">
          <a href="{{ item.href }}" style="color:black;">{{ item.text }}</a>
        
        {% if item.sub_menu %}
        <ul class="sub-menu">
            {% for sub_item in item.sub_menu.items %}
                <div class="{{ sub_item.active_class }}"><a href="{{ sub_item.href }}">{{ sub_item.text }}</a></li>
            {% endfor %}
         </div> 
         
    
    </ul>
    {% endif %}
</div>
    {% endfor %}
</ul>
  </nav>