<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Free Web tutorials">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./stlye.css">        
    </head>

    <body>
        <div class="carousel-container">
                <div class="carouseld-slide">
                    <img src=".img/imagecarousel1.jpeg" alt="">

                </div>
        </div>
           

    </body>
</html>